<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>テンプレート配布</title>
    <link rel="icon" href="../icon/document.png" type="image/x-icon">
</head>

<body>

<h1>テンプレート配布</h1>

　私が普段，利用しているPowerPointのテンプレートです．
スライドのデザインを統一したい場合や，資料作成の時間を短縮したい場合にご利用ください．

<ul>
    <li><a href="./ppt/Template.potx">テンプレートファイル [PPT file]</a></li>
    <li><a href="./ppt/specifications.pdf">作成にあたってのルール [PDF file]</a></li>
</ul>

　その他，下記のサイトでPPTのテンプレートは配布されている．必要に応じて，ダウンロードしてみるのもよいだろう．

<ul>
    <li><a href="https://www.miricanvas.com/ja/templates">miricanvas [Web site]</a></li>
</ul>

</body>

<footer>
    Copyright © 2025 by Y-teraya is marked 
    <a href="https://creativecommons.org/publicdomain/zero/1.0">CC0 1.0 Universal</a><br>
    [最終更新日：2026年1月11日]
</footer>

</html>